body {
  /* background-color: #fafad2; */
  background-color: #fffef2;
  color: #252525;
}

h1 {
  text-align: center;
}

.disclaimer:hover {
  font-size: 14px;
}

a {
  text-decoration: none;
}

a:visited {
  color: #252525;
}

.adam_image {
  width: 250px;
  height: 250px;
  display: block;
  margin: auto;
}

a:hover {
  color: #ff4500;
}

.navigation ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.navigation li {
  font-weight: 100;
  letter-spacing: 2px;
  padding: 20px;
  display: inline;
}

.to_do {
  background-color: pink;
  width: 20%;
  border: 3px dotted coral;
  padding: inherit;
}

.content {
  padding-top: 40px;
}

.blog_content {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
  /* font-family: 'Bodoni Moda', serif; */
  font-family: 'Halant', serif;
}

.blog_photo {
  width: 25%;
  height: 25%;
  display: block;
  margin: auto;
  padding-bottom: 20px;
}

.blog_date_and_title ul {
  margin: 0;
  padding-top: 5%;
  text-align: left;
}

.blog_date_and_title li {
  letter-spacing: 2px;
  display: inline-grid;
  padding-left: 5%;
}
